// app global css in SCSS form
.phone-only {
    @media (max-width: $breakpoint-xs-max){
        display: block;
    }
    @media (min-width: $breakpoint-sm-min){
        display: none;
    }
}

.desktop-only {
    @media (max-width: $breakpoint-xs-max){
        display: none!important;
    }
    @media (min-width: $breakpoint-sm-min){
        display: block;
    }
}

.constrain {
    max-width: 900px;
    margin: 0 auto;
}

img.profilePic {
    object-fit: cover;
}